header{
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background:linear-gradient(#4D94E6,#21DADB);
  }
  .nav-logo img{
    border-radius: 100px;
    width: 50px;
    height:50px;
    
  }
  .nav-titles{
    display: flex;
    justify-content: space-between;
    width: 60%;
  }
  .nav-titles>a{
    padding: 30px;
  }
  
  .nav-titles>a:hover{
    background-color: #21DADB;
    
  }
  header>button{
    margin-right: 20px;
    padding: 15px 20px;
    border-radius: 40px;
  }
  .hamburger-menu{
    display: none;
    position: relative;
  }
  .burger-icon{
    width: 40px;
    cursor: pointer;
    transition: scale 0.3s ease;
  }
  .burger-icon:hover{
    scale: 1.04;
  }
  .side-menu{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #00000075;
    border-radius: 7px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 8px;
    top: 65px;
    right: 0px;
    transition: display 0.3s ease-out;
  }
  .side-menu>a{
    color: white;
    padding: 10px;
    border-radius: 7px;
    transition: color 0.4s ease;
  }
  .side-menu>a:hover{
    color: white;
    background-color: #c8102e;
  }
  .hidden{
    display: none;
  }
  
  
  
  
  
  
  
  
  @media screen and (max-width:700px) {
    .nav-titles{
        display: none;
    }    
    .hamburger-menu{
        display: block;
    }
    .wood-container>h1{
        font-size: 90px;
    }
}