  .main-bg {
    background-color: #4b92db;
  }

  .contrast-bg {
    background-color: #c8102e;
  }

  .dark-bg {
    background-color: #0c2340;
  }

  .gray-bg {
    background-color: #8a8d8f;
  }

  .main-txt {
    color: #4b92db;
  }

  .secondary-txt {
    color: #c8102e;
  }

  .dark-txt {
    color: #0c2340;
  }
  .gray-txt{
    color:#8a8d8f;
  }