  
  .main-bg {
    background-color: #21DADB;
  }
  
  .secondary-bg{
    background-color: #35BBDF;
  }
  .dark-bg {
    background-color: #4D94E6;
  }
  .black-bg {
    background-color: black;
  }
  
  .main-txt {
    color: #21DADB;
  }
  
  .secondary-txt {
    color: #35BBDF;
  }
  
  .dark-txt {
    color: #4D94E6;
  }
  