  .main-bg {
    background-color: #4D94E6;
  }
  .seconday-bg{
    background-color: #32BBDF;
  }
  .third-bg{
    background-color: #21DADB;
  }
  .contrast-bg {
    background-color: #c8102e;
  }

  .dark-bg {
    background-color: #0c2340;
  }

  .gray-bg {
    background-color: #8a8d8f;
  }

  .main-txt {
    color: #4D94E6;
  }
  .seconday-txt{
    color:#32BBDF;
  }
  .third-txt{
    color: #21DADB;
  }
  .contrast-txt {
    color: #c8102e;
  }

  .dark-txt {
    color: #0c2340;
  }
  .gray-txt{
    color:#8a8d8f;
  }