.hero-section{
  max-height: 700px;
}
.hero-section img{
  max-height: 700px;
  height: 700px;
}
.hero-section>div{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: absolute;
  top: 15%;
  padding: 0 5%;
  gap:20%;
}
.hero-section>div>h1{
  font-family: 'Montserrat';
  font-size: 60px;
  width: 40%;
  color: #0c2340;
}
.hero-section>div>img{
  width: 30%;
  height: auto;
}

@media screen and (max-width:700px){
  .hero-section>div>h1{
    font-family: 'Montserrat';
    font-size: 30px;
    width: 40%;
    color: #0c2340;
  }
  .hero-section>img{
    height: 400px;
  }
}